Source: ros-hydro-interactive-markers
Section: misc
Priority: extra
Maintainer: "David Gossow <dgossow@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-filters, ros-hydro-rosbag, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-rostest, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf, ros-hydro-visualization-msgs
Homepage: http://ros.org/wiki/interactive_markers
Standards-Version: 3.9.2

Package: ros-hydro-interactive-markers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-filters, ros-hydro-rosbag, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-rostest, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf, ros-hydro-visualization-msgs
Description: 3D interactive marker communication library for RViz and similar tools.
