Source: ros-noetic-interactive-markers
Section: misc
Priority: optional
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-rosconsole, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-rostest, ros-noetic-std-msgs, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros, ros-noetic-visualization-msgs
Homepage: http://ros.org/wiki/interactive_markers
Standards-Version: 3.9.2

Package: ros-noetic-interactive-markers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-rosconsole, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-rostest, ros-noetic-std-msgs, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros, ros-noetic-visualization-msgs
Description: 3D interactive marker communication library for RViz and similar tools.
